@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  /* height: 100%; */
  width: 100%;
  height: fit-content;
}

.prompt-div {
  @apply rounded-lg bg-gray-100 px-2 py-1 w-fit h-fit text-center min-w-100;
}

.prompt {
  @apply sm:text-base text-xs text-xl text-white bg-indigo-500 hover:cursor-pointer p-2 rounded-full select-none px-6 hover:bg-indigo-700 hover:text-white;
}

.breakpoints-sidebar {
  @apply xl:min-w-40 md:min-w-20 sm:min-w-10;
}

@media screen and (max-width: 480px) {
  .sidebar {
    background-color: rgb(231, 231, 231);
    min-width: 10rem;
    z-index: 100;
  }
}

@media screen and (max-width: 768) {
  .sidebar {
    background-color: rgb(231, 231, 231);
    min-width: 15rem;
    z-index: 1;
  }
}

.animate{
  animation : slide 0.4s ease-in-out;
}

.animateR{
  animation : slideR 0.4s ease-in-out;
}

@keyframes slide {
  from {
    transform:translateX(-100%)
  }
  to {
    transform : translateX(0%)
  }
}

@keyframes slideR {
  from {
    transform:translateX(-100%)
  }
  to {
    transform : translateX(0%)
  }
}

.unclickable {
  pointer-events: none;
  user-select: none;
}

.roundedPrompt {
  @apply rounded-tl-[3rem] rounded-bl-[3rem] rounded-br-[3rem];
}

.roundedResponse {
  @apply rounded-tr-[5rem] rounded-br-[5rem] rounded-bl-[5rem];
}
