@import "tailwindcss";

html,body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.common-div-style {
  @apply grid w-full cursor-pointer bg-blue-500 hover:bg-blue-800 text-white p-4 rounded-lg shadow-lg;
}
