@import "tailwindcss";

html,body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.btn{
  @apply text-[10px] px-1 underline py-1.5 w-full hover:bg-gray-200 hover:rounded-lg hover:cursor-pointer
}
